body {
  font-family: 'Courier New', Courier, monospace; }

ul, li {
  list-style: none; }

/**
   * @param $direction: horizontal vertical both
   example : @include center(both) || @include center(horizontal) || @include center(vertical)
   */
.btn-primary {
  background-color: red; }

@media only screen and (max-width: 940px) {
  

.header__menu {
  background-color: red; }
  .header__menu:hover {
    background-color: red; }
  .header__menu::before {
    content: ""; }
  @media only screen and (max-width: 940px) {
    .header__menu {
      width: 80%;
      background-color: red; } }

.slider {
  background-color: red; }

.breadcrumb {
  background-attachment: red; }